.coppiaimg{
    @include container(1286px);

    @include breakpoint($medium){
        padding-bottom: rem(0);
    }
    
    & + .bottoncioni-container {
        margin-top: rem(80);
    }
    $max-height: calc((1286px/2) - #{rem(30)});
    .coppiaimg__img{
        height: 75vw;
        background-size: cover;
        background-position: center center;
        
        @include breakpoint($medium){
            
            @include span(6 of 12 0.4 after);
            height: 100vh;
            max-height: 50vw;
        }

        @include breakpoint(1286px) {
            max-height: $max-height;
        }

        &:last-child{

            @include breakpoint($medium){
                @include span(6 of 12 0.4 after last);
            }
        }
    }
    .coppiaimg__slider {
        height: 75vw;
        overflow: visible;
        position: relative;
        .slick-prev, .slick-next {
            bottom: 0;
            top: auto;
            left: 50%;
            margin: 0 0 0 rem(-20);
            // .shift--inverted & {
            //     left: auto;
            //     right: 0;
            // }
        }
        .slick-prev {
            transform: translate3d(-100%, 50%, 0);
        }
        .slick-next {
            transform: translate3d(100%, 50%, 0);
        }
        @include breakpoint($medium){
            @include span(6 of 12 0.4 after last);
            height: 100vh;
            max-height: 50vw;
        }
        @include breakpoint(1286px) {
            max-height: $max-height;
        }
    }
}