.coppiaimg{
    @include container(1286px);

    @include breakpoint($medium){
        padding-bottom: rem(0);
    }

    .coppiaimg__img{

        height: 350px;
        background-size: cover;
        background-position: center center;
        
        @include breakpoint($medium){
            
            @include span(6 of 12 0.4 after);
            height: 624px;
        }

        &:last-child{

            @include breakpoint($medium){
                @include span(6 of 12 0.4 after last);
            }
        }
    }
    .coppiaimg__slider {
        height: 75vw;
        overflow: visible;
        @include breakpoint($medium){
            @include span(6 of 12 0.4 after last);
            .slick-prev, .slick-next {
                top: 50%;
                left: 0;
                .shift--inverted & {
                    left: auto;
                    right: 0;
                }
            }
            .slick-prev {
                transform: translate3d(-50%, -100%, 0);
                .shift--inverted & {
                    transform: translate3d(50%, -100%, 0);
                }
            }
            .slick-next {
                transform: translate3d(-50%, 100%, 0);
                .shift--inverted & {
                    transform: translate3d(50%, 100%, 0);
                }
            }
        }
    }
}