$p: 25px;
%mask_bg {
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
		height: 100%;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transform: scaleX(1) translateZ(0);
		transform-origin: right center;
		background-color: #f8f9f9;
		content: '';
	}
}
.masked-row {
	.page-title__title, .lista-marcatrici__marcatrice, .homepage-intro__subtitle, .homepage-cta__paragrafo, .focus__content {
		transform: translate3d($p*-1, 0, 0);
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition-delay: 0.75s;
		opacity: 0;
	}
	.homepage-intro__title, .page-title__intro, .lista-marcatrici__marcatrice--inverted, &.focus--inverted > .focus__content {
		transform: translate3d($p, 0, 0);
		opacity: 0;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		transition-delay: 0.75s;
	}
	.focus__visual {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
			transform: scaleX(1) translateZ(0);
			transform-origin: right center;
			background-color: #f8f9f9;
			
		}
	}
	&.focus--inverted > .focus__visual {
		&:after {
			transform-origin: left center;
		}
	}
	&.homepage-cta {
		@extend %mask_bg;
	}
	&.lista-marcatrici__marcatrice {	
		@extend %mask_bg;
		&--inverted {
			left: 0;
			transform-origin: right center;
		}
	}
	&.page-header {
		position: relative;
		overflow: hidden;
		&:before, &:after {
			content: '';
			transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
			position: absolute;
			background-color: #f8f9f9;
			height: 51%;
			width: 100%;
			left: 0;
			transform: scaleX(0) translateZ(0);
		}
		&:before {
			top: 0;
			transform-origin: left center;
		}
		&:before {
			top: 50%;
			transform-origin: right center;
		}
	}
	&.unmasked-row {
		&:before, &:after {
			transition: {
				property: transform;
				duration: 1.5s;
			}
			transform: scaleX(0) translateZ(0);
		}
		.page-title__title, .lista-marcatrici__marcatrice, .homepage-intro__subtitle, .homepage-cta__paragrafo, .focus__content, .homepage-intro__title, .page-title__intro, .lista-marcatrici__marcatrice--inverted, &.focus--inverted > .focus__content {
			transition: {
				property: transform;
				duration: 1.5s;
			}
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
		.focus__visual {
			&:after {
				transition: {
					property: transform;
					duration: 1.25s;
				}
				transform: scaleX(0) translateZ(0);
			}
		}
	}
}