.shift{
    
    @include container(100%);
    position: relative;
    
    @include breakpoint($medium){
        padding: 0;
    }

    &__struttura{
        @include container(1286px);
    }

    &__content{
        width: 100%;
        color: $font-color;
        font-size: rem(16);
        line-height: rem(28);
        letter-spacing: 0.04px;
        font-weight: 200;
        padding: rem(40);
        @include breakpoint($medium){
            min-height: (3.5/4) * 50vw;
            display: flex;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            > * {
                width: 100%;
                flex: 0 0 auto;
            }
            width: span(42%);
            padding: rem(80) rem(40);
        }

        @include breakpoint($large){
            padding: rem(130) rem(70);
        }

        .shift--inverted &{
            float: right;
        }

        h2{
            font-family: $header-font;
            font-size: rem(50);
            line-height: rem(45);
            letter-spacing: 0.02px;
            color: $blu;
            font-weight: 700;
            text-transform: uppercase;
        }

        h3{
            font-size: rem(16);
            line-height: rem(28);
            letter-spacing: 0.06px;
            text-transform: uppercase;
            padding-bottom: 0.3em;
        }

        p{
            padding-bottom: 0.3em;
        }

        ul:not(.slick-dots){
        font-size: rem(16);
        line-height: rem(28);
        padding-top: rem(12);
        font-weight: 200;

        li{
            position: relative;
            padding: 0 0 0 rem(15);
            margin-bottom: rem(6);

            &:before{
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                background-color: $blu;
                border-radius: 100%;
                top: rem(12);
                left: 0;
                }
            }
        }
    }

    &__visual{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        height: 120px;
        position: relative;
        &--slider {
            height: 75vw;
            overflow: visible;
            @include breakpoint($medium){
                .slick-prev, .slick-next {
                    top: 50%;
                    left: 0;
                    .shift--inverted & {
                        left: auto;
                        right: 0;
                    }
                }
                .slick-prev {
                    transform: translate3d(-50%, -100%, 0);
                    .shift--inverted & {
                        transform: translate3d(50%, -100%, 0);
                    }
                }
                .slick-next {
                    transform: translate3d(-50%, 100%, 0);
                    .shift--inverted & {
                        transform: translate3d(50%, 100%, 0);
                    }
                }
            }
        }

        @include breakpoint($medium){
            width: 52%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
        }

        .shift--inverted &{
            right: auto;
            left: 0;
        }
        img {
            display: none;
        }
    }

    &__slider, &__slider .slick-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        .slick-track {
            height: 100%;
        }
    }
    &__slide {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__dida {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: transparentize($blu, .15);
        color: white;
        padding: 10px 10px 30px;
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 12px;
        z-index: 400;
        @include breakpoint($medium) {
            padding: 20px 100px;
        }
    }
}

.flex__slider {
    height: 75vw;
    position: relative;
    margin: rem(40) auto;
    max-width: 1286px;
    img {
        display: none;
    }
    @include breakpoint($medium) {
        height: calc(100vh - #{rem(134)});
        margin: rem(80) auto;
    }
    &--split {
        @include breakpoint($medium){
            height: auto;
            min-height: calc(100vh - #{rem(134)});
            .slick-prev, .slick-next {
                top: 50%;
                left: 50%;
            }
            .slick-prev {
                transform: translate3d(-50%, -100%, 0);
            }
            .slick-next {
                transform: translate3d(-50%, 100%, 0);
            }
        }
    }
    .shift__slide--columns {
        position: relative;
        display: flex;
        .slide__image {
            height: 75vw;
        }
        @include breakpoint($medium) {
            .slide__image {
                height: auto;
            }
            .slide__image, .slide__dida {
                width: 50%;
            }
        }
        .slide__dida {
            padding: rem(50);
        }
    }
}